<!doctype html>
<html class="contact no-js" lang="">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Direct and Effective Corporate Communication">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /meta -->

    <title>MobileBulletin - Direct &amp; effective corporate communication</title>

    <!-- page level plugin styles -->

    <!-- /page level plugin styles -->

    <!-- core styles -->
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/sublime/front/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/sublime/front/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/sublime/front/css/animate.min.css">
    <!-- /core styles -->

    <!-- template styles -->
    <link rel="stylesheet" href="vendors/sublime/front/css/skin/blue.css" id="skin">
    <link rel="stylesheet" href="vendors/sublime/front/css/fonts/opensans.css" id="font">
    <link rel="stylesheet" href="vendors/sublime/front/css/main.css">
    <!-- template styles -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="vendors/sublime/front/plugins/modernizr.js"></script>
</head>

<!-- body -->

<body>

    <!-- page loading spinner -->
    <div class="pageload">
        <div class="loader"></div>
    </div>
    <!-- /page loading spinner -->

    <!-- menu navigation -->
    <header class="header fixed-sticky">
        <div class="container">
            <nav class="heading-font">

                <!-- branding -->
                <div class="branding">
                    <!-- toggle menu -->
                    <button type="button" class="mobile-toggle">
                        <span class="ti-menu"></span>
                    </button>
                    <!-- /toggle menu -->

                    <a href="/" class="logo transition">
                        MobileBulletin
                    </a>
                </div>
                <!-- /branding -->

                <!-- links -->
                <div class="navigation spy">
                    <ul class="nav">
                        <li>
                            <a href="/#how" class="transition">How it works</a>
                        </li>
                        <li>
                            <a href="/#features" class="transition">Features</a>
                        </li>
                        <li>
                            <a href="/#reviews" class="transition">Reviews</a>
                        </li>
                        <li class="active">
                            <a href="pricing" class="transition">Pricing</a>
                        </li>
                        <li>
                            <a href="contact-us" class="transition">Contact Us</a>
                        </li>
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="register" class="nav-btn btn btn-success btn-rounded">Register</a>
                        </li>
                    </ul>
                </div>
                <!-- /links -->
            </nav>
        </div>

    </header>
    <!-- /menu navigation -->

    <!-- contact form -->
    <section id="contact" class="content-section banner">

        <div class="container" data-animation="fadeIn">

            <div class="row">

                <div class="col-sm-offset-3 col-sm-6">


                    <div class="section-title">
                        <h6 data-animation="fadeInDown" data-appear-top-offset="-200">Try any plan free for 30 days</h6>
                        <h4 data-animation="fadeInUp" data-appear-top-offset="-190">Choose the right plan for your business</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-table">
                        <div class="pricing-body">
                            <h5>STANDARD</h5>
                            <div class="plan-price">
                                <span class="heading-font">R2000</span>
                                <small><em>per month</em></small>
                            </div>
                            <ul class="plan-features">
                                <li>Cellphone Association</li>
                                <li>Filtered Mass Messaging</li>
                                <li>Analytics</li>
                                <li>Reporting</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                            </ul>
                            <button class="btn btn-color">Get started</button>
                            <small class="mt10 show">
                                Try it free for 30 days.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-table">
                        <div class="pricing-body">
                            <h5>BUSINESS</h5>
                            <div class="plan-price">
                                <span class="heading-font">R11000</span>
                                <small><em>per month</em></small>
                            </div>
                            <ul class="plan-features">
                                <li>Cellphone Association</li>
                                <li>Filtered Mass Messaging</li>
                                <li>Analytics</li>
                                <li>Reporting</li>
                                <li>Reverse Billing</li>
                                <li>Dedicated USSD</li>
                                <li>Text, Email, USSD</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                            </ul>
                            <button class="btn btn-color">Get started</button>
                            <small class="mt10 show">
                                Try it free for 30 days.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-table active">
                        <div class="pricing-body">
                            <h5>ENTERPRISE</h5>
                            <div class="plan-price">
                                <span class="heading-font">R18000</span>
                                <small><em>per month</em></small>
                            </div>
                            <ul class="plan-features">
                                <li>Cellphone Association</li>
                                <li>Filtered Mass Messaging</li>
                                <li>Analytics</li>
                                <li>Reporting</li>
                                <li>Reverse Billing</li>
                                <li>Dedicated USSD</li>
                                <li>Text, Email, USSD</li>
                                <li>Upstream Communication</li>
                                <li>Voice Notes</li>
                                <li>ERP Integration</li>
                            </ul>
                            <button class="btn btn-color">Get started</button>
                            <small class="mt10 show">
                                Try it free for 30 days.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-table">
                        <div class="pricing-body">
                            <h5>CUSTOM</h5>
                            <div class="plan-price">
                                <span class="heading-font">R20000+</span>
                                <small><em>per month</em></small>
                            </div>
                            <ul class="plan-features">
                                <li>Cellphone Association</li>
                                <li>Filtered Mass Messaging</li>
                                <li>Analytics</li>
                                <li>Reporting</li>
                                <li>Reverse Billing</li>
                                <li>Dedicated USSD</li>
                                <li>Text, Email, USSD</li>
                                <li>Upstream Communication</li>
                                <li>Voice Notes</li>
                                <li>ERP Integration</li>
                            </ul>
                            <button class="btn btn-color">Get started</button>
                            <small class="mt10 show">
                                Try it free for 30 days.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <small><em>*All prices quoted in ZAR. Terms and conditions may apply</em></small>

        </div>

    </section>
    <!-- /contact form -->

    <section class="content-section banner dark lighten">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <p>Looking for a custom plan? Get in touch with our sales team</p>
                        <div class="color-inherit text-white">
                            <a href="contact-us" class="btn btn-color btn-lg btn-rounded">Customized Solution</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section banner">
        <div class="container" data-animation="fadeIn">


            <div class="section-title">
                <h4 data-animation="fadeInUp" data-appear-top-offset="-190">FREQUENTLY ASKED QUESTIONS</h4>
            </div>

            <div class="row">
                <div class="col-sm-6 p25">
                    <h6 class="color">DO YOU ACCEPT VISA</h6>
                    <p>All payments are currently processed by ETF and should be made out to the username of the account and to the exact amount invoiced.</p>
                </div>
                <div class="col-sm-6 p25">
                    <h6 class="color">HOW LONG UNTIL MY TRIAL EXPIRES</h6>
                    <p>All trials last for 30 days and any data that is not backed up after 30 days will be deleted from the system and cannot be recovered.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="content-section light lighten">

        <div class="container">

            <div class="row text-center">

                <div class="col-sm-12 mb25 color-inherit text-white">

                    <a class="btn btn-primary btn-social-icon btn-rounded btn-outline btn-sm smooth-scroll mb25" href="#top">
                        <i class="ti-angle-up"></i>
                    </a>

                    <br>

                    <a class="btn btn-social-icon btn-facebook btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-social-icon btn-twitter btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="btn btn-social-icon btn-google-plus btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-google-plus"></i>
                    </a>

                </div>

                <div class="col-sm-12 mb25">
                    <p>Made with&nbsp;<i class="ti-heart text-danger"></i>&nbsp;in South Africa</p>
                    <small class="show">&copy;&nbsp;Copyright Mobile<span class="color">Bulletin</span>&nbsp;<span class="year"></span>. All rights reserved</small>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- core scripts -->
    <script src="vendors/sublime/front/plugins/jquery-1.11.1.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.js"></script>
    <script src="vendors/sublime/front/plugins/appear/jquery.appear.js"></script>
    <script src="vendors/sublime/front/plugins/nav/jquery.nav.js"></script>
    <script src="vendors/sublime/front/plugins/jquery.easing.min.js"></script>
    <!-- /core scripts -->

    <!-- page level scripts -->
    <script src="vendors/sublime/front/plugins/jquery.parallax.js"></script>
    <!-- /page level scripts -->

    <!-- template scripts -->
    <script src="vendors/sublime/front/js/main.js"></script>
    <!-- /template scripts -->

    <!-- page script -->
    <!-- /page script -->

</body>

</html>
